/**
 * I need to ask where to put this.
 */

/**
 * Images
 */
.profile-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
    max-width: 100%;
    height: 300px;
}
.signature {
  margin-bottom: 30px;
}

#endorsements {
  display: inline-block;
}

#endorsements article:not(:last-child) {
  margin-bottom: $spacing-unit * 1;
}

.endorsement-img {
  height: 100px;
  border-radius: 50%;
}

#endorsements article:nth-child(odd) .endorsement-img {
  float: right;
  margin-left: $spacing-unit / 2;
}

#endorsements article:nth-child(even) .endorsement-img {
  float: left;
  margin-right: $spacing-unit / 2;
}

.endorsement {
  font-style: italic;
  margin-bottom: 5px;
}

.endorser {
  color: $grey-color;
  margin-bottom: 0;
}


html, body{
    height: 100%
}

p:last-child {
  margin-bottom: 0px;
}
/*
* {
  border: solid 1px;
}
*/
code {
  font-size: 0.9rem;
  background-color: #e8e8e8;
  border-radius: 3px;
  font-family: monospace;
  padding: 0.125rem 0.25rem;
}
table {
  border-collapse: collapse;
}
table:not(:last-child) {
  margin-bottom: 100px;
}
td {
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  height: 25px;
}
tbody tr:nth-child(even) {
  background: #f9f9f9;
}
.tablename {
  font-size: 2rem;
  padding-bottom: 1rem;
}
